.fancy-product .product-main .price-wrapper span.woocommerce-Price-amount.amount {
    display: none;
}
h4#sel_lines_heading {
    color: black;
    font-size: 14px;
    font-weight: 500;
    margin-left: 10px;
    padding-top: 10px;
    position: relative;
    height: 20px;
    top: -102px;
}
.fancy-product .product-info.summary.col-fit.col.entry-summary.product-summary form.cart {
    width: 280px;
    display: inline-block;
    position: absolute;
    right: 39px;
    top: 130px;
}
label.tm-epo-field-label.tm-left {
    font-size: 12px;
    padding-top: 11px;
    margin: 0px;
    padding-right: 0px;
}
.product-info.summary.col-fit.col.entry-summary.product-summary div#tm-extra-product-options {
    position: absolute;
    width: 262px;
    max-width: 318px;
    top: 164px;
    right: -23px;
    padding: 0px 13px;
    width: 322px;
}
.tm-epo-field-label.tm-left+.tm-extra-product-options-container, .tm-epo-field-label.tm-right+.tm-extra-product-options-container {
    float: right;
}

.fpd-main-bar-position.fpd-container.fpd-main-bar-container.fpd-tabs.fpd-tabs-top.fpd-sidebar.fpd-grid-columns-1 .fpd-mainbar.fpd-clearfix.fpd-show {
    height: 230px !important;
    width: 272px;
}
.product-info.summary.col-fit.col.entry-summary.product-summary .fpd-main-bar-position.fpd-container.fpd-main-bar-container.fpd-tabs.fpd-tabs-top.fpd-sidebar.fpd-grid-columns-1 {
    display: block;
    min-width: 200px !important;
    float: left;
    position: absolute;
    max-width: 267px !important;
    width: 267px !important;
    height: 200px !important;
    max-height: 100px !important;
    min-height: 200px !important;
	top:510px;
}
div#upload_zone_area {
    height: 270px;
}
[data-context=upload] .fpd-upload-zone {
    height: 140px;
}
div#tool_bar_title {
    margin-bottom: 5px;
    font-weight: 600;
    margin: 13px 13px 13px 13px;
    padding: 10px;
    display: block;
    background-color: #fff;
    text-align: left;
    border: 1px solid #d1d1d1 !important;
    cursor: pointer;
    border-radius: 5px 5px;
    color: #2e2e2e;
}
.fpd-upload-zone-adds-panel .fpd-add-design{
    display: none;
}
.fancy-product .product-main form.variations_form.cart {
    width: 23%;
    float: right;
    top: -530px;
    right: 17px;
    position: relative;
}
.variations_form.cart .variations td {
    font-size: 13px;
}
#tool_bar_custom .fpd-element-toolbar.fpd-visibility.fpd-toolbar-placement-inside-bottom.fpd-show {
    position: inherit;
    display: inline-block;
}
.product_cat-customdesign .fpd-grid-columns-1 {
    width: 50%;
    display: inline-block;
}
.minicart_item_right .custom_thumbnail{

    display: none;
}

.cart_items_colors {
    display: none;
}
.variation-spanclasscart_items_colorsspan {
    display: none !important;
}
span.fpd-label {
    visibility: hidden;
}

table.wccpf_fields_table.chest_size-wrapper, table.wccpf_fields_table.bottom_size-wrapper, table.wccpf_fields_table.back_length-wrapper, table.wccpf_fields_table.sleves_lenth-wrapper {
    display: none;
}
/* Additional Checkout Css */
.fpd-customization-required .product-gallery.large-5,.product_cat-custom-jacket .product-gallery.large-5 {
    display: none;
}
.used_colors {
    display: none;
}

.checkout.woocommerce-checkout td.product-total {
    display: inline-table;
    position: absolute;
    right: -42%;
    top: 40%;
    border: none;
}
.checkout.woocommerce-checkout .product-name img.custom_thumbnail:nth-child(1) {
    right: 23%;
}
.checkout.woocommerce-checkout .product-name img.custom_thumbnail:nth-child(2) {
    right: 1%;
    top: -1%;
}
.checkout.woocommerce-checkout .product-name img.custom_thumbnail:nth-child(3) {
    top: 42%;
    right: 23%;
}
.checkout.woocommerce-checkout .product-name img.custom_thumbnail:nth-child(4) {
    top: 41%;
    right: 0%;
}
.checkout.woocommerce-checkout tr.cart_item {
    position: relative !important;
    display: inline-grid;
    width: 100%;
}
.checkout.woocommerce-checkout .custom_thumbnail {
    width: 20%;
    display: inline-block;
    float: left;
    margin: 0px;
    position: absolute;
    right: 11%;
    top: 2%;
}

dt.variation-spanstylefont-weightnormalfont-size095emArmsspan, dd.variation-spanstylefont-weightnormalfont-size095emArmsspan, dt.variation-spanstylefont-weightnormalfont-size095emBodyspan, dd.variation-spanstylefont-weightnormalfont-size095emBodyspan, dt.variation-spanstylefont-weightnormalfont-size095emBasespan, dd.variation-spanstylefont-weightnormalfont-size095emBasespan, dt.variation-spanstylefont-weightnormalfont-size095emEnterTextspan, dt.variation-spanstylefont-weightnormalfont-size095emEnterTextspan, dd.variation-spanstylefont-weightnormalfont-size095emEnterTextspan, dt.variation-spanstylefont-weightnormalfont-size095emLeftPocketspan, dd.variation-spanstylefont-weightnormalfont-size095emLeftPocketspan, dt.variation-spanstylefont-weightnormalfont-size095emRightPocketspan, dd.variation-spanstylefont-weightnormalfont-size095emRightPocketspan, dt.variation-spanstylefont-weightnormalfont-size095emLinesspan, dd.variation-spanstylefont-weightnormalfont-size095emLinesspan, dt.variation-spanstylefont-weightnormalfont-size095emButtonsspan, dd.variation-spanstylefont-weightnormalfont-size095emButtonsspan, dt.variation-spanstylefont-weightnormalfont-size095emleft-bodyspan, dd.variation-spanstylefont-weightnormalfont-size095emleft-bodyspan, dd.variation-spanstylefont-weightnormalfont-size095embasespan, dt.variation-spanstylefont-weightnormalfont-size095embasespan, dt.variation-spanstylefont-weightnormalfont-size095emrightbodyspan, dd.variation-spanstylefont-weightnormalfont-size095emrightbodyspan, dt.variation-spanstylefont-weightnormalfont-size095emRightSleevespan, dt.variation-spanstylefont-weightnormalfont-size095emspan, dd.variation-spanstylefont-weightnormalfont-size095emRightSleevespan, dt.variation-spanstylefont-weightnormalfont-size095emrightarmspan, dd.variation-spanstylefont-weightnormalfont-size095emrightarmspan, dt.variation-spanstylefont-weightnormalfont-size095embackbasespan, dd.variation-spanstylefont-weightnormalfont-size095emspan, dt.variation-spanstylefont-weightnormalfont-size095emBackDecorationBspan, dd.variation-spanstylefont-weightnormalfont-size095embackbasespan, dd.variation-spanstylefont-weightnormalfont-size095emBackDecorationBspan, dt.variation-spanstylefont-weightnormalfont-size095emPocketsspan, dd.variation-spanstylefont-weightnormalfont-size095emPocketsspan, dt.variation-spanstylefont-weightnormalfont-size095emrightbasespan, dd.variation-spanstylefont-weightnormalfont-size095emrightbasespan,dt.variation-spanstylefont-weightnormalfont-size095emfront-linesonlyspan,dd.variation-spanstylefont-weightnormalfont-size095emfront-linesonlyspan, dt.variation-spanstylefont-weightnormalfont-size095embacklinesspan, dd.variation-spanstylefont-weightnormalfont-size095embacklinesspan, dt.variation-spanstylefont-weightnormalfont-size095emleft-linesonly-col-1span, dd.variation-spanstylefont-weightnormalfont-size095emleft-linesonly-col-1span, dt.variation-spanstylefont-weightnormalfont-size095emright-linesonly-cspan, dd.variation-spanstylefont-weightnormalfont-size095emright-linesonly-cspan {
    display: none !important;
}

/* Additional  cart Css */

.woocommerce table.shop_table td.product-name a {
    margin-bottom: 0px;
}
div#front_thumbnail img {
    width: 70px;
}
td.product-name i {
    display: none;
}
span#close_thumbnail_section {
    position: absolute;
    right: 12px;
    font-size: 18px;
    font-weight: 800;
}
div#thumbnail_section11 {
  position: absolute;
    z-index: 999;
    background: #f7f7f7;
    border: 1px solid #bbb;
    top: -80px;
    width: 85%;
}
.custom_thumbnail_left{
	width: 26%;
}
.custom_thumbnail {
    width: 24%;
}
.force_show{
	display:block;
}
.hide_this{
	display:none;
}
tr.woocommerce-cart-form__cart-item.cart_item .variation {
    display: none;
}	
.product_cat-customdesign .col-lg-6.summary.entry-summary.ajax-add-to-cart.single-nav-on {
    display: block !important;
    float: left;
    width: 100% !important;
    max-width: 100% !important;
    flex: none !important;
}
div#cart_btn_main {
    display: inline-block;
    text-align: center;
    width: 100%;
    margin-top: 1em;
}
.product_cat-customdesign .summary .single_add_to_cart_button {
    visibility: hidden;
    height: 0px;
}
span#ad_cart_custom {
    display: inline-block;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: .1em;
    color: #fff;
    border-radius: 0;
    border: 1px solid #333;
    background-color: #333;
    padding: 10px 20px;
    cursor: pointer;
}

#fpd-product-designer-side-left .fpd-item picture {
    border: 1px solid #ddd;
    border-radius: 5px;
}
#fpd-product-designer-side-left .fpd-item picture:active {
    background: #333;
}
img.logo-mobile {
    width: 40%;
}
/* .cart .wccpf-fields-group-1 {
    display: none;
} */

/* Additional Css */

div#cart_btn_main {
    display: inline-block;
    text-align: center;
    width: 100%;
    margin-top: 1em;
}
.product_cat-customdesign .summary .single_add_to_cart_button {
    visibility: hidden;
    height: 0px;
}
span#ad_cart_custom {
    display: inline-block;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: .1em;
    color: #fff;
    border-radius: 0;
    border: 1px solid #333;
    background-color: #333;
    padding: 10px 20px;
    cursor: pointer;
}

#fpd-product-designer-side-left .fpd-item picture {
    border: 1px solid #ddd;
    border-radius: 5px;
}
#fpd-product-designer-side-left .fpd-item picture:active {
    background: #333;
}
img.logo-mobile {
    width: 40%;
}
/* Product Page */

ul.fpd-colors.dropdown{
    margin: 0px;
    padding: 0px;    
}
.fpd-loader>.fpd-loader-text {
    display: none;
}
.product_cat-customdesign .woocommerce-product-gallery__slider {
    display: none;
}
.product_cat-customdesign .product-badges {
    display: none;
}
.product_cat-customdesign h1.product_title.entry-title {
    display: none;
}
.product_cat-customdesign .price{
    display: none;
}
.product_cat-customdesign .woocommerce-product-details__short-description{
    display: none;
}
.product_cat-customdesign form.isw-swatches.isw-swatches--in-single{
    display: none;
}
.product_cat-customdesign table.product_meta{
    display: none;
}
.product_cat-customdesign table.product-share{
    display: none;
}
.product_cat-customdesign .woocommerce-tabs.wc-tabs-wrapper{
    display: none;
}

/*.entry-summary .fpd-main-bar-position.fpd-container.fpd-main-bar-container.fpd-tabs.fpd-tabs-top.fpd-sidebar.fpd-grid-columns-1 {
    display: none !important;
}*/
.entry-summary div#fpd-bulk-add-form-placement {
    display: none !important;
}

div#fancy-product-designer-3046 {
    display: inline-block !important;
    clear: none;
    min-width: 400px;
    height: 600px !important;
}
.fpd-grid>.fpd-item picture:hover {
    border: 0px solid #333333;
    background: #333333;
    background-size: contain !important;
    background-position: center center !important;
    transition: none !important;
}
.fpd-draggable-dialog.fpd-container.fpd-shadow-2.ui-draggable {
    display: none !important;
}
/*.force_show {
    display: block !important;
}
.force_hide{
    display:none !important;
}
.fpd-main-wrapper .fpd-product-stage .fpd-view-stage:nth-child(1) {
    display: none;
}
.fpd-views-inside-top .fpd-views-selection .fpd-item:nth-child(1) {
    display: none;
}*/ 

.fpd-grid.fpd-grid-contain.fpd-padding .fpd-item:nth-child(7){
    display:none;
}

.fpd-grid.fpd-grid-contain.fpd-padding .fpd-item:nth-child(5){
    display:none;
}
.fpd-grid.fpd-grid-contain.fpd-padding .fpd-item:nth-child(6){
    display:none;
}
.fpd-grid.fpd-grid-contain.fpd-padding .fpd-item:nth-child(8){
    display:none;
}.fpd-grid.fpd-grid-contain.fpd-padding .fpd-item:nth-child(9){
    display:none;
}.fpd-grid.fpd-grid-contain.fpd-padding .fpd-item:nth-child(10){
    display:none;
}.fpd-grid.fpd-grid-contain.fpd-padding .fpd-item:nth-child(11){
    display:none;
}.fpd-grid.fpd-grid-contain.fpd-padding .fpd-item:nth-child(12){
    display:none;
}.fpd-grid.fpd-grid-contain.fpd-padding .fpd-item:nth-child(13){
    display:none;
}.fpd-grid.fpd-grid-contain.fpd-padding .fpd-item:nth-child(14){
    display:none;
}.fpd-grid.fpd-grid-contain.fpd-padding .fpd-item:nth-child(15){
    display:none;
}.fpd-grid.fpd-grid-contain.fpd-padding .fpd-item:nth-child(16){
    display:none;
}.fpd-grid.fpd-grid-contain.fpd-padding .fpd-item:nth-child(17){
    display:none;
}.fpd-grid.fpd-grid-contain.fpd-padding .fpd-item:nth-child(18){
    display:none;
}

.fpd-grid>.fpd-item picture:hover {
    border: 2px solid #333333;
    background: #333333;
}
.fpd-grid>.fpd-item picture:active {
    border: 2px solid #333333;
    background: #333333;
    padding: 10px !important;
    text-align: center !important;
}

.fpd-colorbox span.fpd-label {
    display: inline-block;
    margin-left: 30px;
}

.fpd-module.fpd-single-cat.fpd-designs-active .fpd-head {
    display: none;
}

.fpd-sc-module-wrapper.fpd-container {
    border: none !important;
}

.fpd-grid>.fpd-item {
    cursor: pointer !important;
    width: 25% !important;
    height: 55px;
}

.fpd-grid.fpd-padding>.fpd-item>picture {
    top: 5px !important;
    left: 5px !important;
    right: 5px !important;
    bottom: 5px !important;
}

.fpd-color-palette.fpd-grid .fpd-item.fpd-tooltip.tooltipstered {
    width: 20px !important;
    height: 20px !important;
}

#mCSB_2_container .fpd-item:nth-child(19) {
    position: absolute;
    top: 6em;
    overflow: visible !important;
    margin-left: 5px;
}
#mCSB_2_container .fpd-item:nth-child(20) {
      position: absolute;
      top: 6em;
      overflow: visible !important;
      margin-left: 26%;
}

div#mCSB_2_container {
    height: 165px;
}
/* left drop-downs style */

table.wccpf_fields_table.body_material-wrapper {
    position: absolute;
    left: 20px;
    width: 20.5% !important;
    top: 220px;
}

table.wccpf_fields_table.seelves_material-wrapper {
    position: absolute;
    left: 20px;
    width: 20.5% !important;
    top: 295px;
}

select.wccpf-field.trim_style {
    display: none !important;
}

table.wccpf_fields_table.trim_style-wrapper {
    position: absolute;
    left: 7px;
    width: 214px !important;
    top: 135px;
    height: 40px;
    padding: 0px;
    margin-left: 15px;
}
table.wccpf_fields_table.trim_style-wrapper, table.wccpf_fields_table.body_material-wrapper{
    border-bottom: none;
}
table.wccpf_fields_table.seelves_material-wrapper {
    border-bottom: none;
}
.fpd-module.fpd-single-cat .fpd-head {
    display: none !important;
}

div#fpd-color-selection-placement {
    margin-top: -15px !important;
}
table.wccpf_fields_table td {
    padding: 15px 5px;
    vertical-align: middle;
    border: 0px !important;
    line-height: 2;
}
.fpd-text-layer-content textarea {
    background-color: white;
    border-radius: 5px;
    border-color: #cacaca;
    padding: 10px 10px !important;
    margin: 10px !important;
    width: 90% !important;
}
select.wccpf-field {
    color: #939393;
    width: 100%;
    padding: 0 12px;
    border-radius: 3px !important;
    text-align: left;
    border: 1px solid #c2c2c2;
    font-size: 15px;
    line-height: 42px;
    height: 40px !important;
    font-weight: 400;
}
div#right_fields {
    padding: 1px 10px;
}
/* left drop-downs style */

body .fpd-draggable-dialog.fpd-container.fpd-shadow-2.fpd-grid-columns-1.ui-draggable.fpd-active {
    display: none !important;
}

/* Color UL Styling */

ul.fpd-colors.dropdown {
    margin: 0px !important;
}
.wrapper-dropdown-4 {
position: relative;
    width: 46%;
    margin: 7px 7px 0 0;
    display: inline-block;
    background: #fff;
    float: left !important;
    outline: none;
    border: 1px solid #ddd;
    height: 35px;
    padding: 3px;
    cursor: pointer;
    border-radius: 3px;
}
.fpd-label.color_name {
    display: inline-block !important;
    width: 61px !important;
    position: relative !important;
    right: 2px;
    float: right !important;
    height: 28px;
    padding: 6px 0 !important;
    margin: -2px !important;
    color: black !important;
    text-align: center;
}
.fpd-draggable-dialog.fpd-container.fpd-shadow-2.fpd-grid-columns-1.ui-draggable {
    display: none !important;
}
h4#color_pallet_heading {
    color: black;
    font-size: 14px;
    font-weight: 500;
    margin: 0 0 0 7px;
    padding-top: 10px;
    position: relative;
    top: 0em;
}
h4#color_pallet_heading_color {
    color: black;
    font-size: 14px;
    font-weight: 500;
    padding-bottom: 0px;
    margin-bottom: 0px;
    margin-left: 10px;
    padding-top: 10px;
    position: relative;
    top: -18px;
    height: 20px;
}
div#fpd-color-selection-placement {
    padding-bottom: 15px !important;
}
div#fpd-product-designer-side-left_patch {
    display: inline-block;
    width: 100%;
    float: left;
    color: #707070;
    border: 1px solid #d1d1d1;
    background-color: #fff;
    margin-right: 11px;
    margin-top: 1em;
}
div#leftside_main {
    width: 22%;
    float: left;
    display: inline-block;
    margin-right: 10px;
}
.fpd-item.fpd-tooltip.fpd-colorbox.tooltipstered {
    width: 25px;
    height: 25px;
    margin-left: 7px;
}
.wrapper-dropdown-4:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    right: 5px;
    top: 50%;
    margin-top: -3px;
    border-width: 6px 6px 0 6px;
    border-style: solid;
    border-color: #ccc transparent;
}
.wrapper-dropdown-4 .dropdown {
    /* Size & position */
    z-index: 9999999 !important;
    position: absolute;
    top: 100%;
    margin-top: 1px; /* border of wrapper */
    left: -1px;
    right: -1px;
    overflow: scroll;
    height: 200px;

    /* Styles */
    background: white;
    border: 1px solid silver;
    border-top: none;
    list-style: none;
    transition: all 0.3s ease-out;

    /* Hiding */
    opacity: 1;
    display: none;
}
.wrapper-dropdown-4 .dropdown li {
    display: block !important;
    width: 100% !important;
    padding: 3px 0 3px 0 !important;
    margin: 0px 0 0 0 !important;
    border: 1px solid #ddd;
    background: #eeeeee52;
}

.wrapper-dropdown-4 .dropdown li label {
    display: block;
    padding: 10px 10px 10px 30px; /* Same padding as the button */
    border-bottom: 1px dotted #1ccfcf;
    transition: all 0.3s ease-out;
}

.wrapper-dropdown-4 .dropdown li:last-of-type label {
    border: none;
}

.wrapper-dropdown-4 .dropdown li input /* Checkboxes */ {
    position: absolute;
    display: block;
    right: 10px;
    top: 50%;
    margin-top: -8px;
}

/* Hover state */

.fpd-main-wrapper>.fpd-modal-lock {
    display: none !important;
}

.wrapper-dropdown-4 .dropdown li:hover label {
    background: #f0f0f0;
}

/* Checked state */

.wrapper-dropdown-4 .dropdown li input:checked ~ label {
    color: grey;
    text-decoration: line-through;
}

/* Active state */

.wrapper-dropdown-4.active:after {
    border-width: 0 6px 6px 6px;
}

.wrapper-dropdown-4.active .dropdown {
    opacity: 1;
    pointer-events: auto;
}

div#Lines:hover > #dropdownLines,div#Arms:hover > #dropdownArms,div#Base:hover > #dropdownBase,div#Body:hover > #dropdownBody,div#Cuffs:hover > #dropdownCuffs,div#Buttons:hover > #dropdownColler,div#Coller:hover > #dropdownColler,div#Buttons:hover > #dropdownButtons,div#Pockets:hover > #dropdownPockets,div#hoodcolor:hover > #dropdownhoodcolor,div#hoodinner:hover > #dropdownhoodinner,div#LeftChest:hover > #dropdownLeftChest {
    display: inline-block !important;
}
div#hoodcolor,div#hoodinner{
	display: none;
}
#fillLines,#fillArms,#fillBody,#fillBase,#fillCuffs,#fillColler,#fillButtons,#fillPockets{
    width: 25px;
    height: 25px;
    background: #ecf0f1;
    display: flex;
    padding: 0px;
    position: absolute;
    margin: 0px;
    clear: both;
    border: 1px solid #bbb;
}

#fancy-product-designer-3046 {
    display: inline-block;
}

div#fpd-product-designer-side-left_patch {
    display: inline-block;
    width: 100%;
    color: #707070;
    background-color: #fff;
    margin-right: 0px;
    margin-bottom: 15px;
}
.fpd-text-layer-content>.fpd-text-layer-clear {
    right: 14px !important;
}
.fpd-text-layer-content input {
    background-color: white;
    border-radius: 5px;
    border-color: #cacaca;
    padding: 10px 10px !important;
    margin: 10px !important;
    width: 90% !important;
}
.fpd-text-layer-meta {
    width: 90% !important;
    margin: 0px 13px !important;
}

.fpd-text-layers-panel {
    margin-top: 15px !important;
}

.fpd-draggable-dialog {
    display: none;
}

.fpd-text-layers-panel .fpd-title {
    margin-bottom: 5px;
    font-weight: 600;
    margin: 13px 13px 0 13px;
    padding: 10px;
    display: block;
    background-color: #fff;
    text-align: left;
    border: 1px solid #d1d1d1 !important;
    cursor: pointer;
    border-radius: 5px 5px;
    color: #2e2e2e;
}
span.patch_checkicon {
    padding: 0px !important;
    background-color: #fff;
    border: 2px solid #c2c2c2;
    border-radius: 0;
    color: #c2c2c2;
    height: 21px !important;
    margin-right: 10px;
    line-height: 12px;
    display: inline-block;
    width: 20px;
    padding-left: 1px;
}
span.patch_downicon {
    color: #c2c2c2;
    float: right;
    margin-right: 0px;
    display: inline-block;
    width: 20px;
    padding-left: 1px;
    right: 15px;
    position: absolute;
}
h4#uploadImg_heading {
    font-size: 16px !important;
    color: #43454b !important;
    font-weight: 600 !important;
    margin-left: 1em;
}
.fpd-scroll-area.mCustomScrollbar._mCS_4.mCS-autoHide.mCS_no_scrollbar {
    margin: 15px !important;
}
.fpd-upload-zone {
    border: 2px dashed #333333;
    color: #333333;
    margin: 10px 5%;
    width: 90%;
    height: 80px;
    position: relative;
    cursor: pointer;
    border-radius: 5px;
}
span.patch_downicon i {
    font-weight: normal !important;
}
.patchinner {
    margin: 0 14px 0 13px !important;
    border: 1px solid #dadada;
}
.fpd-navigation.fpd-primary-bg-color {
    background: white !important;
    color: black;
    width: 232px;
    position: absolute;
    top: 41em;
    left: -15.2em;
    z-index: 99999;
    display: none !important;
}
.fpd-sc-module-wrapper.fpd-container {
    width: 100% !important;
}

.fpd-variations-list .fpd-select-col {
    padding: 0px !important;
    margin: 10px !important;
    display: block !important;
    width: 100%;
    float: left;
}

.text-center {
    text-align: center;
}
.discounted-coupon-price {
    font-size: 14px;
    font-weight: 600;
    line-height: 1;
}
div#price_main {
    padding: 7px 0 15px 0;
    border-bottom: 1px solid #e3e3e3;
}
.wccpf-fields-group-1 {
    margin-top: 15px;
}
#final_price span.actual_price.active {
    text-decoration: line-through;
}
#final_price span.discounted_price {
    color: #333333;
    font-weight: 700;
}

#final_price {
    font-size: 20px;
    line-height: 1;
    color: #252525;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 8px;
    padding-top: 10px;
    display: block !important;
}
.discounted-coupon-price span {
    color: #1e9d01;
}
#right_fields button.single_add_to_cart_button.button.alt {
    width: 95%;
    margin-left: 5px;
    background: #333333;
    border-radius: 4px;
    font-size: 14px;
    padding: 5px 5px 7px 5px;
    text-transform: uppercase;
    margin-top: 25px;
}
#right_fields button.single_add_to_cart_button.button.alt:hover {
border-color: none !important;
}

/* Color UL Styling */


.widget_header_fpd_left {
    background-color: #f3f3f3;
    border-radius: 5px 5px 0 0;
    color: #333333;
    font-size: 16px;
    font-weight: 500;
    height: 46px;
    line-height: 1;
    overflow: hidden;
    padding: 14px 0 0 13px;
    text-align: left;
    cursor: pointer;
    border-bottom: 1px solid #d1d1d1;
}
.widget_header_fpd_left span {
    background-color: #333333;
    border-radius: 50%;
    color: #fff;
    display: block;
    float: left;
    font-size: 14px;
    height: 24px;
    line-height: 24px;
    margin-right: 10px;
    margin-top: -3px;
    padding: 0;
    text-align: center;
    vertical-align: top;
    width: 24px;
}

.widget_header_fpd_right {
    background-color: #f3f3f3;
    border-radius: 5px 5px 0 0;
    color: #333333;
    font-size: 16px;
    font-weight: 500;
    height: 46px;
    line-height: 1;
    overflow: hidden;
    padding: 14px 0 0 13px;
    text-align: left;
    cursor: pointer;
    border-bottom: 1px solid #d1d1d1;
}
.widget_header_fpd_right span {
    background-color: #333333;
    border-radius: 50%;
    color: #fff;
    display: block;
    float: left;
    font-size: 14px;
    height: 24px;
    line-height: 24px;
    margin-right: 10px;
    margin-top: -3px;
    padding: 0;
    text-align: center;
    vertical-align: top;
    width: 24px;
}
.minimize_widget {
    background: transparent;
    text-indent: inherit;
    border-left: 0;
    color: #333333;
}
#fpd-product-designer-side-left div#fpd-color-selection-placement {
    padding: 0px 10px 15px 10px;
}
.fpd-color-selection.fpd-custom-pos {
    margin: 0px 0 !important;
}
#fpd-color-selection-placement .fpd-title {
    color: #252525;
    display: block;
    font-size: 12px;
    font-weight: 500;
    line-height: 1;
    margin: 0 0 10px;
    text-align: left;
    font-family: 'Roboto',sans-serif !important;
    border: none;
    position: relative;
    top: 8px;
    left: 30px;
}

div#fpd-product-designer-side-left {
    display: inline-block;
    width: 100%;
    float: left;
    background-color: #fff;
    color: #707070;
    border: 1px solid #d1d1d1;
    background-color: #fff;
    margin-right: 11px;
}
.fpd-container {
    width: 50% !important;
}

div#fpd-product-designer-side-right {
    display: inline-block;
    width: 26%;
    float: right;
    background-color: #fff;
    color: #707070;
    border: 1px solid #d1d1d1;
    background-color: #fff;
    height: 600px;
}

.fpd-product-designer-wrapper {
    max-width: 100%;
}

.fpd-container {
    clear: both;
}

.fpd-fullwidth-summary .summary {
    width: 100% !important;
    float: none !important;
    min-width: 100%;
    padding-left: 17px !important;
}

.fpd-container .fpd-login-info {
    padding: 20px;
    font-size: 14px;
}

.fpd-product-images-hidden .images {
    display: none !important;
}

.fpd-get-quote-enabled .summary .price {
    display: none !important;
}

table.wccpf_fields_table.custom_size_check-wrapper {
    width: 100% !important;
    display: block;
    margin-top: 15px;
}
table.wccpf_fields_table.custom_size_check-wrapper tbody tr td.wccpf_label label {
    display: none !important;
}
table.wccpf_fields_table{
    width: 50% !important;
    display: inline-block;
    float: left !important;
}
table.wccpf_fields_table tr, table.wccpf_fields_table td, table.wccpf_fields_table tbody{
    width: 100%;
    display: inline-block !important;
    float: left !important;
}

table.wccpf_fields_table td {
    padding: 0px 5px !important;
}
table.wccpf_fields_table.custom_size_check-wrapper label{
    width: 100% !important;
    display: block !important;
    float: none !important;

 }
.custom_size_check-wrapper td.wccpf_label {
    width: 100% !important;
    padding: 0px !important;
    text-align: center;
}

label.wcff-option-wrapper-label {
    width: 100% !important;
    border-color: #262626;
    color: #fff;
    padding: 10px;
    text-align: center;
    background-color: #f3f3f3;
    border: 1px solid #c2c2c2;
    color: #262626;
}
table.wccpf_fields_table td.wccpf_label label {
    font-size: 14px !important;
    color: #43454b !important;
    font-weight: 500 !important;
    width: 208px !important;
}
.chest_size-wrapper, bottom_size-wrapper, back_length-wrapper, sleves_lenth-wrapper {
    display: none;
}

.custom_size_check-wrapper ul.wccpf-field-layout-horizontal li {
    width: 100% !important;
}
label.wcff-option-wrapper-label input {
    visibility: hidden;
}
/* Start Customizing Button */
.fpd-blue-btn {
    background: #3F51B5;
    color: #fff;
    padding: 10px 10px;
}

#fpd-start-customizing-button {
    pointer-events: visible;
    cursor: pointer;
    opacity: 1;
}

#fpd-start-customizing-button.fpd-inline {
    display: inline-block;
    margin-left: 10px;
}

#fpd-start-customizing-button.fpd-block {
    display: block;
    margin: 10px 0;
}

#fpd-start-customizing-button.fpd-disabled {
    display: inline-block;
    min-width: 100px;
    height: 35px;
    padding: 10px;
    opacity: 0.9;
}

.fpd-disabled {
    pointer-events: none;
    cursor: default;
    opacity: 0.6;
}

.fpd-modal-price {
    margin-top: 20px;
    font-size: 18px;
}

.fpd-modal-price:after {
    clear: both;
}

.single-product.fpd-customization-required .cart [type="submit"],
.fpd-customization-required [name="fpd_shortcode_form"] [type="submit"] {
    display: none !important;
}

.product-type-variable.fpd-variation-needed #fpd-start-customizing-button {
    display: none;
}


/* Design Sharing */

.fpd-share-design > * {
    float: left;
    margin: 10px 10px 0 0;
}

#fpd-share-button > i {
    margin: 0 5px;
}

.fpd-share-process, .fpd-share-url {
    font-size: 12px;
    font-style: italic;

}

.fpd-share-url {
    vertical-align: text-top;
    line-height: 16px;
}

.fpd-share-widget .jssocials-share-link {
    width: 40px;
    display: block;
}

.fpd-share-design .jssocials-shares, .fpd-share-design .jssocials-share {
    margin-top: 0;
    margin-bottom: 0;
}



/* Shortcode */

form[name="fpd_shortcode_form"] {
    z-index: 0 !important;
}

form[name="fpd_shortcode_form"] > input {
    display: block;
}

.fpd-shortcode-form-text-input {
    width: 100%;
}

.fpd-shortcode-form-text-input.fpd-error {
    background: #ffeeee !important;
}

.fpd-shortcode-price-wrapper {
    font-size: 1.6em;
    opacity: 0;
    -webkit-transition: opacity 300ms ease-out;
    transition: opacity 300ms ease-out;
}

.fpd-shortcode-price-wrapper.fpd-show-up {
    opacity: 1;
}


/* Theme Check */

.fpd-theme-check-wrapper {
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.85);
    z-index: 10000;
}

.fpd-theme-check-wrapper > .fpd-theme-check-content {
    position: absolute;
    top: 200px;
    left: 50%;
    margin-left: -400px;
    width: 800px;
    min-height: 300px;
    background: #fff;
    padding: 20px;
}

.fpd-theme-check-content h4 {
    font-size: 18px;
    font-weight: bold;
    margin: 0 0 20px;
    padding: 0;
}

.fpd-theme-check-content h4 span {
    float: right;
    cursor: pointer;
}

.fpd-theme-check-content p {
    font-size: 12px;
    margin-bottom: 15px;
    padding: 10px;
    clear: both;
}

.fpd-theme-check-content p a {
    color: inherit;
    text-decoration: underline;
}

.fpd-theme-check-content p.fpd-success {
    background-color: #DFF0D8;
    color:#3c763d;
}

.fpd-theme-check-content p.fpd-warning {
    background-color: #FCF8E3;
    color:#8a6d3b;
}

.fpd-theme-check-content p.fpd-error {
    background-color: #F2DEDE;
    color: #a94442;
}
.fpd-upload-zone .fpd-price {
    display: none;
}
/* Shortcode: Actions */

.fpd-sc-action {
    background: #f0f0f0;
    color: rgba(0,0,0, 0.8);
    font-size: 14px;
    border-radius: 2px;
    cursor: pointer;
    padding: 4px 8px;
    display: inline-block;
    margin: 0 5px 8px 0;
}

.fpd-sc-action:hover {
    opacity: 0.8;
}

.fpd-sc-action > .fpd-label {
    margin-left: 5px;
}

.fpd-sc-action.fpd-layout--text > [class^="fpd-icon-"] {
    display: none;
}


/* Shortcode: Module */

.fpd-sc-module-wrapper {
    border: 1px solid rgba(0,0,0,0.1);
    min-height: 164px;
}

.fpd-sc-module-wrapper .fpd-module .fpd-text-layers-panel .fpd-list {
    padding: 0;
}
table.wccpf_fields_table.specify_gender-wrapper,table.wccpf_fields_table.select_size-wrapper,table.wccpf_fields_table.custom_size_check-wrapper,table.wccpf_fields_table.chest_size-wrapper,table.wccpf_fields_table.bottom_size-wrapper,table.wccpf_fields_table.back_length-wrapper,table.wccpf_fields_table.sleves_lenth-wrapper{
	width: 22% !important;
    position: absolute;
    right: 39px;
    top: 213px;
}
table.wccpf_fields_table.select_size-wrapper {
    top: 290px;
}
table.wccpf_fields_table.custom_size_check-wrapper {
    top: 360px;
	display:none;
}
table.wccpf_fields_table.chest_size-wrapper {
    top: 430px;
    width: 11% !important;
}
table.wccpf_fields_table.bottom_size-wrapper {
    top: 500px;
    width: 11% !important;
}
table.wccpf_fields_table.back_length-wrapper {
    top: 430px;
    width: 11% !important;
    right: 173px;
}
table.wccpf_fields_table.sleves_lenth-wrapper {
    top: 500px;
    width: 11% !important;
    right: 173px;
}
.product-info .fpd-container.fpd-main-bar-container .fpd-mainbar {
    height: 200px !important;
}


/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 768px) {
/* Styles */

.quantity.buttons_added {
    float: right;
}
dl.tm-extra-product-options-totals.tm-custom-price-totals dt.tm-final-totals {
    margin-top: 10px;
    border-top: none;
}
.product-info.summary.col-fit.col.entry-summary.product-summary div#tm-extra-product-options {
    top: 144px;
}
.fancy-product .product-info.summary.col-fit.col.entry-summary.product-summary form.cart {
    width: 80%;
    top: 1485px;
}
/* .fpd-views-selection .fpd-shadow-1.fpd-item.fpd-tooltip.tooltipstered:nth-child(1) {
    display: none !important;
} */
.fpd-container.fpd-views-inside-top>div{
    min-width: 100%;
}
.fpd-container>.fpd-main-wrapper {
    min-height: 460px;
 }   
canvas.lower-canvas {
    transform: scale(.7);
}
div#fancy-product-designer-3046 {
    min-width: 100%;
}
table.wccpf_fields_table.body_material-wrapper {
    width: 90% !important;
}
table.wccpf_fields_table.seelves_material-wrapper {
    width: 90% !important;
}

#leftside_main {
    width: 100% !important;
}
#fpd-product-designer-side-right {
    width: 100% !important;
}
.fpd-main-wrapper .fpd-product-stage {
    min-height: 591px;
    min-width: 600px;
}
div#fancy-product-designer-3046 {
    height: 470px !important;
    margin-bottom: 15px;
}

.fpd-container {
    width: 100% !important;
}

}

@media only screen and (min-device-width : 320px) and (max-device-width : 991px) {
/* Styles */

/*     .fpd-views-selection .fpd-shadow-1.fpd-item.fpd-tooltip.tooltipstered:nth-child(1) {
        display: none !important;
    } */
    .fpd-container.fpd-views-inside-top>div{
        min-width: 100%;
    }
    .fpd-container>.fpd-main-wrapper {
        min-height: 460px;
     }   
    canvas.lower-canvas {
        transform: scale(.7);
    }
    div#fancy-product-designer-3046 {
        min-width: 100%;
    }
    table.wccpf_fields_table.body_material-wrapper {
        width: 90% !important;
    }
    table.wccpf_fields_table.seelves_material-wrapper {
        width: 90% !important;
    }

    #leftside_main {
        width: 100% !important;
    }
    #fpd-product-designer-side-right {
        width: 100% !important;
    }
    .fpd-main-wrapper .fpd-product-stage {
        min-height: 591px;
        min-width: 600px;
    }
    div#fancy-product-designer-3046 {
        height: 470px !important;
        margin-bottom: 15px;
    }

}
@media only screen and (min-device-width : 992px) and (max-device-width : 1199px) {
/* Styles */

    .fpd-views-selection .fpd-shadow-1.fpd-item.fpd-tooltip.tooltipstered:nth-child(1) {
        display: none !important;
    }
    .fpd-container.fpd-views-inside-top>div{
        min-width: 100%;
    }
    .fpd-container>.fpd-main-wrapper {
        min-height: 460px;
     }   
    canvas.lower-canvas {
        transform: scale(.7);
    }


    .fpd-main-wrapper .fpd-product-stage {
        min-height: 591px;
        min-width: 600px;
    }
    div#fancy-product-designer-3046 {
        height: 591px !important;
        margin-bottom: 15px;
    }
    .widget_header_fpd_left, .widget_header_fpd_right {
        font-size: 12px;
        height: 44px;
        line-height: 19px;
        padding: 14px 0 0 5px;
    }
    .fpd-grid>.fpd-item {
        height: 42px;
    }
    .wrapper-dropdown-4 {
        width: 46%;
    }
    div#fpd-product-designer-side-right {
        height: 591px;
    }
    .discounted-coupon-price {
        font-size: 12px;
    }
    

}
/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {
/* Styles */

#leftside_main {
    width: 75%;
}

}